<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156992986183-0o4q95ai71hl4ini3d9qrdsbku9pi8gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156992986183-0o4q95ai71hl4ini3d9qrdsbku9pi8gv</string>
	<key>API_KEY</key>
	<string>AIzaSyCecrQ_9WOuBlUDAE7HmZ6TSH8YQ0E1O4I</string>
	<key>GCM_SENDER_ID</key>
	<string>156992986183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibirori.app.AuthenticationApp1</string>
	<key>PROJECT_ID</key>
	<string>authenticationswiftapp</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationswiftapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156992986183:ios:a79a637c6d7fbf7026e562</string>
</dict>
</plist>